<html layout:decorate="~{layout}">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/ctest/slide.css}">
</head>
	
<body>
<div layout:fragment="content">
	
<div class="slide slide_wrap" style="padding-top:100px;">
	
	<div class="slide_item">
		
			<div style="border: solid 1px darkgray;margin:30px; width: 300px; height: 200px;">
				사진영역
			</div>
		
			<div style="margin:30px;
						font-size: 29px;
						font-weight: bold;">
				나만의 둘레길 유형 테스트
			</div>
			
			<div style="margin:30px;">
				<button class="slide_next_button"
						style=" border:0; 
								border-radius:12px;
								font-weight:bold;
								font-size:25px;
								width: 250px; height:70px;
								color:white; background-color:#1ABC9C"
						>테스트 시작하기</button>
			</div>
			
	</div>

	
	<div class="slide_item">
		<div>
			2
		</div>
	</div>
	
</div>
<script type="text/javascript" th:src="@{/ctest/slide.js}"></script>



</div>
</body>	
</html>