<html layout:decorate="~{layout}"> 
<body>
<div layout:fragment="content" class="container my-5">
<div id="map" style="width:100%;height:400px;"></div>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=z259xu45mt"></script>
<script th:inline="javascript" id="data">
let cs =[[${cs}]];
let jsoncs = JSON.parse(cs);
let polylinePath = [];
let spltjson = jsoncs[0].split(",");
for(let i = 0; i<jsoncs.length;i++){
	
	let spltjson = jsoncs[i].split(",");
	
	polylinePath.push(new naver.maps.LatLng(parseFloat(spltjson[0]), parseFloat(spltjson[1])));
}
</script>

<script id="code">
    //지도 표시
    var map = new naver.maps.Map('map', {
        zoom: 12,
        center: new naver.maps.LatLng(37.457580, 126.931614)
    });

    //위의 배열을 이용해 라인 그리기
    var polyline = new naver.maps.Polyline({
        path: polylinePath,      //선 위치 변수배열
        strokeColor: '#FF0000', //선 색 빨강 #빨강,초록,파랑
        strokeOpacity: 0.8, //선 투명도 0 ~ 1
        strokeWeight: 5,   //선 두께
        map: map           //오버레이할 지도
    });
	
	
	// 시작지점 마커
	 var marker = new naver.maps.Marker({
        position: polylinePath[0], //마크 표시할 위치 배열의 마지막 위치
        map: map
    });
	
    // 도착지점 마커
    var marker = new naver.maps.Marker({
        position: polylinePath[polylinePath.length-1], //마크 표시할 위치 배열의 마지막 위치
        map: map
    });
    
</script>
</div> 
</body> 
</html>
