<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-5">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<style>
.swiper-container {
	width: 710px;
	height:390px;
	z-index:0;
}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
	max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */

	

}
.page-link {
  color: #000; 
  background-color: #fff;
  border: 1px solid #ccc; 
}

.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;
 
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
}
table, tr, td {
 border:none;
}

</style>
<div class="rcm-area">
	<h1 style="padding-top:15px; padding-bottom:15px;">가족 코스</h1>
	<hr>
	
	
	<div class="rcm-area02">
		<div class="rcm-side">
			<div class="rcm-side02">
				<div style="cursor:pointer;" onClick="location.href='/recommendcourse/couple'">커플코스</div><hr>
				<div style="cursor:pointer;" onClick="location.href='/recommendcourse/family'">가족코스</div><hr>
				<div style="cursor:pointer;" onClick="location.href='/recommendcourse/restaurant'">맛집코스</div><hr>
				<div style="cursor:pointer;" onClick="location.href='/recommendcourse/nature'">자연코스</div>
			</div>
		</div>
		
		<div class="rcm-content">					
				<div class="rcm-boxalign">
				<div class="rcm-content02" id="f1">
					<div class="rcm-textTitle">
						예술의 전당
					</div>
				</div><br>
					<div class="rcm-content03">
						<div class="SceneryImg">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당2.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당3.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당4.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당5.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당6.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당10.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당8.jpg}" /></div>
								</div>
								<!-- 네비게이션 -->
								<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
								<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<div id="div1"></div>
						<a href="javascript:GetShow()"style="text-decoration: none; color: black;" onmouseover="this.style.color='#1ABC9C'" onmouseout="this.style.color='black'">◾ 설명보기</a>
						<div id="hide" style="display: none">
							1988년 음악당과 서울서예박물관, 1990년 한가람미술관과 예술자료관, 1993년 오페라하우스 완공으로 완성된 서울 예술의전당은
							연간 300만명의 방문객이 찾는 우리나라 문화예술의 중심이다. 남부터미널역 인근에 위치한 예술의 전당은 전시회, 음악공연,
							 오페라등 다양한 문화활동을 제공하고있다. 현재는 이집트 미라전, 넥스테이지:넥슨게임 아트, 알버트 왓슨 사진전 등등 다양한 사진 문화 공연을 
							 진행중이고, 다양한 연극과 오페라도 상영하고있어 자녀들과 함께 문화 체험을 하고싶은 사람에게 추천.
						</div><br>
						<a href="javascript:getShow()" style="text-decoration: none; color: black; " onmouseover="this.style.color='#1ABC9C'" onmouseout="this.style.color='black'">◾ 코스경로 자세히</a>
							<div id="hide1" style="display: none">
							◾ 코스경로 : 남부터미널역 5번 출구-예술의 전당-국립국악원-남부터미널역 5번 출구
						<div>
							◾ 길이 : 3km 
						</div>
						<div>
							◾ 소요시간 : 1시간 30분
						</div> 
						<div>
							◾ 난이도 : 초급
						</div>
						
							
						
					</div>
					

			<hr>
				<div class="container my-3">
				<table class="table" style="border-left: none; border-right: none;">
					
			    <thead>
			        <tr>
			            <th style="width: 80px;">별점</th>
			            <th style="width: 120px;">닉네임</th>
			            <th>후기</th>
			        	<th style="width: 150px;">작성일자</th>
			
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="review5, loop : ${paging5}">
					    <td style="width: 80px;" th:text="${review5.reviewStar5}"></td>
			            <td style="width: 120px;" th:text="${review5.id5}"></td>
			            <td th:text="${review5.reviewContents5}"></td>
			            <td style="width: 150px;" th:text="${#temporals.format(review5.createDate5, 'yyyy-MM-dd HH:mm')}"></td>
			        </tr>
			    </tbody>
				</table>
			    <!-- 페이징처리 시작 -->
			    <div th:if="${!paging5.isEmpty()}">
					
			        <ul class="pagination justify-content-center">
			            <li class="page-item" th:classappend="${!paging5.hasPrevious} ? 'disabled'">
			                <a class="page-link"
			                    th:href="@{|?page5=${paging5.number-1}#div1|}">
			                    <span>이전</span>
			                </a>
			            </li>
			            <li th:each="page5: ${#numbers.sequence(0, paging5.totalPages-1)}"
			            	th:if="${page5 >= paging5.number-2 and page5 <= paging5.number+2}"
			                th:classappend="${page5 == paging5.number} ? 'active'" 
			                class="page-item">
			                <a th:text="${page5}" class="page-link" th:href="@{|?page5=${page5}#div1|}"></a>
			               
			               
			            </li>
			            <li class="page-item" th:classappend="${!paging5.hasNext} ? 'disabled'">
			                <a class="page-link" th:href="@{|?page5=${paging5.number+1}#div1|}">
			                    <span>다음</span>
			                </a>
			            </li>
			        </ul>
			    </div>
			    <!-- 페이징처리 끝 -->
				<a th:href="@{/recommendcourse/create5}" class="btn btn-secondary">후기등록</a>
				</div>

			


					
					
					
					
				</div><hr><br>
				
				
				<div class="rcm-boxalign">
				<div class="rcm-content02" id ="f2">
					<div class="rcm-textTitle">
						양재시민의 숲
					</div>
				</div><br>
					<div class="rcm-content03">
						<div class="SceneryImg">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲2.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲8.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲7.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲3.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲4.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲9.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲10.jpg}" /></div>
								</div>
								<!-- 네비게이션 -->
								<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
								<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<div id="div2"></div>
						<a href="javascript:Getshow()"style="text-decoration: none; color: black;" onmouseover="this.style.color='#1ABC9C'" onmouseout="this.style.color='black'">◾ 설명보기</a>
						<div id="hide2" style="display: none">
								1986년 11월에 개장한 양재시민의숲은 2022년 윤봉길 의사의 아호인 매헌을 본따서 매헌시민의숲으로 이름을 변경하였다.
							매헌시민의숲안에는 윤봉길 의사의 유물과 독립운동 관련 사진을 전시해놓은 윤봉길의사기념관과 높이 9.2m의 윤봉길 의사상, 2.14m의 윤봉길 의사 숭모비가 있다.
							또 6.25전쟁당시 비정규군 전투부대로 참전하여 희생된 이들을 위로하고자 세운 충혼탑, 1987년 북한의 테로로 폭파된 대한항공858기의 희상자 위령탑과 1995년 삼풍백화점 붕괴로 사망한 502명의 영혼과 유족들을 위로하기위한 삼풍사고희생자 위령탑이있다.
							이처럼 아픈 역사와 비극 사건들을 한번더 되새길수 있는 매헌시민의숲은 신분당선 양재시민의숲역 바로 옆에 있어 교통이 편리하고, 
							봄 가을에는 벚꽃과 단풍으로 유명하다. 매헌시민의숲은 주로 평지로 이루어져있어 아이들과 함께 걷기 좋고, 한적하면서도 조용하기에 
							바쁜 도심안에서 여유를 얻을수 있는공간이다.
							주말에 아이와 함께 산책을 하려는 사람에게 추천. 
						</div><br>
						<a href="javascript:getshow()" style="text-decoration: none; color: black; " onmouseover="this.style.color='#1ABC9C'" onmouseout="this.style.color='black'">◾ 코스경로 자세히</a>
							<div id="hide3" style="display: none">
							◾ 코스경로 : 양재시민의숲역 5번 출구-매헌시민의숲-양재천-양재시민의숲역 1번 출구			
						<div>
							◾ 길이 : 2km 
						</div>
						<div>
							◾ 소요시간 : 1시간
						</div> 
						<div>
							◾ 난이도 : 초급
						</div>
							
						
					</div>
					
					
				
			<hr>
				<div class="container my-3">
				<table class="table" style="border-left: none; border-right: none;">
					
			    <thead>
			        <tr>
			            <th style="width: 80px;">별점</th>
			            <th style="width: 120px;">닉네임</th>
			            <th>후기</th>
			        	<th style="width: 150px;">작성일자</th>
			
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="review6, loop : ${paging6}">
					    <td style="width: 80px;" th:text="${review6.reviewStar6}"></td>
			            <td style="width: 120px;" th:text="${review6.id6}"></td>
			            <td th:text="${review6.reviewContents6}"></td>
			            <td style="width: 150px;" th:text="${#temporals.format(review6.createDate6, 'yyyy-MM-dd HH:mm')}"></td>
			        </tr>
			    </tbody>
				</table>
			    <!-- 페이징처리 시작 -->
			    <div th:if="${!paging6.isEmpty()}">
					
			        <ul class="pagination justify-content-center">
			            <li class="page-item" th:classappend="${!paging6.hasPrevious} ? 'disabled'">
			                <a class="page-link"
			                    th:href="@{|?page6=${paging6.number-1}#div2|}">
			                    <span>이전</span>
			                </a>
			            </li>
			            <li th:each="page6: ${#numbers.sequence(0, paging6.totalPages-1)}"
			            	th:if="${page6 >= paging6.number-2 and page6 <= paging6.number+2}"
			                th:classappend="${page6 == paging6.number} ? 'active'" 
			                class="page-item">
			                <a th:text="${page6}" class="page-link" th:href="@{|?page6=${page6}#div2|}"></a>
			               
			               
			            </li>
			            <li class="page-item" th:classappend="${!paging6.hasNext} ? 'disabled'">
			                <a class="page-link" th:href="@{|?page6=${paging6.number+1}#div2|}">
			                    <span>다음</span>
			                </a>
			            </li>
			        </ul>
			    </div>
			    <!-- 페이징처리 끝 -->
				<a th:href="@{/recommendcourse/create6}" class="btn btn-secondary">후기등록</a>
				</div>					
					
					
					
					
					
					
					
					
					
				</div><hr><br>
				
				
				
				<div class="rcm-boxalign">
				<div class="rcm-content02" id="f3">
					<div class="rcm-textTitle">
						선유도공원
					</div>
				</div><br>
					<div class="rcm-content03">
						<div class="SceneryImg">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도2.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도4.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도5.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도9.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도10.jpg}" /></div>
								</div>
								<!-- 네비게이션 -->
								<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
								<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<a href="javascript:Get_Show()"style="text-decoration: none; color: black;" onmouseover="this.style.color='#1ABC9C'" onmouseout="this.style.color='black'">◾ 설명보기</a>
						<div id="hide4" style="display: none">
								1978년부터 2000년까지 서울 남부지역에 수돗물을 공급하는 정수장으로 사용되다가 2000년 12월 폐쇄된뒤 2002년 개장한 시민공원이다.
							한강역사관, 수질정화공원, 시간의정원, 온실, 물놀이장등의 시설이 들어서 있어 아이들과 함께 놀러오기 좋으며, 
							사계절 변화하는 한강을 관찰하기 좋은 지역이다.
							서울둘레길 6코스와 매우 가깝고, 합정역과 당산역이 가까워 교통편의시설도 좋다.
							아이와 한강을 구경하고싶은 사람에게 추천.
						</div><br>
						<div id="div3"></div>
						<a href="javascript:get_Show()" style="text-decoration: none; color: black; " onmouseover="this.style.color='#1ABC9C'" onmouseout="this.style.color='black'">◾ 코스경로 자세히</a>
							<div id="hide5" style="display: none">
							◾ 코스경로 : 선유도역 2번 출구-선유도-선유도역 2번 출구
					
						<div>
							◾ 길이 : 1.5km 
						</div>
						<div>
							◾ 소요시간 : 1시간
						</div> 
						<div>
							◾ 난이도 : 초급
						</div>
						
							
						
					</div>
					
					
					
<hr>
	<div class="container my-3">
	<table class="table" style="border-left: none; border-right: none;">
		
    <thead>
        <tr>
            <th style="width: 80px;">별점</th>
            <th style="width: 120px;">닉네임</th>
            <th>후기</th>
        	<th style="width: 150px;">작성일자</th>

        </tr>
    </thead>
    <tbody>
        <tr th:each="review7, loop : ${paging7}">
		    <td style="width: 80px;" th:text="${review7.reviewStar7}"></td>
            <td style="width: 120px;" th:text="${review7.id7}"></td>
            <td th:text="${review7.reviewContents7}"></td>
            <td style="width: 150px;" th:text="${#temporals.format(review7.createDate7, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </tbody>
	</table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging7.isEmpty()}">
		
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging7.hasPrevious} ? 'disabled'">
                <a class="page-link"
                    th:href="@{|?page7=${paging7.number-1}#div3|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page7: ${#numbers.sequence(0, paging7.totalPages-1)}"
            	th:if="${page7 >= paging7.number-2 and page7 <= paging7.number+2}"
                th:classappend="${page7 == paging7.number} ? 'active'" 
                class="page-item">
                <a th:text="${page7}" class="page-link" th:href="@{|?page7=${page7}#div3|}"></a>
               
               
            </li>
            <li class="page-item" th:classappend="${!paging7.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page7=${paging7.number+1}#div3|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
	<a th:href="@{/recommendcourse/create7}" class="btn btn-secondary">후기등록</a>
	</div>
					
					
					
				</div><hr><br>
				
				
			
				
			
			</div>
		</div>
	</div>
	

	
<script>
new Swiper('.swiper-container', {

	slidesPerView : 1, // 동시에 보여줄 슬라이드 갯수
	spaceBetween : 0, // 슬라이드간 간격
	slidesPerGroup : 1, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

	// 그룹수가 맞지 않을 경우 빈칸으로 메우기
	// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
	loopFillGroupWithBlank : true,

	loop : true, // 무한 반복

	pagination : { // 페이징
		el : '.swiper-pagination',
		clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
	},
	navigation : { // 네비게이션
		nextEl : '.swiper-button-next', // 다음 버튼 클래스명
		prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
	},
});



function GetShow(){	 //
		var con = document.getElementById("hide");
		if(con.style.display == "none"){
			con.style.display = "block"; 
		}
		else{
			con.style.display = "none"
		}
	}
	
	function getShow(){	 //
		var con = document.getElementById("hide1");
		if(con.style.display == "none"){
			con.style.display = "block"; 
		}
		else{
			con.style.display = "none"
		}
	}
	
function Getshow(){	 //
		var con = document.getElementById("hide2");
		if(con.style.display == "none"){
			con.style.display = "block"; 
		}
		else{
			con.style.display = "none"
		}
	}
	
	function getshow(){	 //
		var con = document.getElementById("hide3");
		if(con.style.display == "none"){
			con.style.display = "block"; 
		}
		else{
			con.style.display = "none"
		}
	}

function Get_Show(){	 //
		var con = document.getElementById("hide4");
		if(con.style.display == "none"){
			con.style.display = "block"; 
		}
		else{
			con.style.display = "none"
		}
	}
	
	function get_Show(){	 //
		var con = document.getElementById("hide5");
		if(con.style.display == "none"){
			con.style.display = "block"; 
		}
		else{
			con.style.display = "none"
		}
	}




</script>
</div>
</html>