<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-5">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<style>
.swiper-container {
	width: 675px;
	height:200px;

}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
	max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */

	/* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */

}

</style>
<div class="rcm-area">
	<h1 style="padding-top:15px; padding-bottom:15px;">가족 코스</h1>
	<hr>
	
	
	<div class="rcm-area02">
		<div class="rcm-side">
			<div class="rcm-side02">
				<div style="cursor:pointer;" onClick="location.href='/recommendcourse/couple'">커플코스</div><hr>
				<div style="cursor:pointer;" onClick="location.href='/recommendcourse/family'">가족코스</div><hr>
				<div style="cursor:pointer;" onClick="location.href='/recommendcourse/restaurant'">맛집코스</div><hr>
				<div style="cursor:pointer;" onClick="location.href='/recommendcourse/nature'">자연코스</div>
			</div>
		</div>
		
		<div class="rcm-content">		
			<div class="rcm-boxalign">
				<div class="rcm-content02">
					<div class="rcm-textTitle">

						서울 어린이 대공원

						경의선 숲길

					</div>
				</div><br>
					<div class="rcm-content03">
						<div class="SceneryImg">

							<img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원1.jpg}" />
						</div>
						<div>
							1973년 5월5일 개원한 서울어린이대공원은 도심 속 쉼터로 서울시민들에게 꾸준한 사랑을 받아온 여가공간이다.
							시민들의 편의성을 위해 낡고 불편해진 시설을 교체하는 단게적 리모델링 사업을 통해 2009년 5월5일 재탄생 하였다.
							서울 어린이 대공원은 크게 동물나라, 자연나라, 재미나라, 운동 및 대관시설로 이루어져 있으며,
							재미나라인 놀이공원을 제외하면 모두 무료로 이용할 수 있다.
							어린이 대공원은 평지로 이루어져있어 어린 아이들도 편하게 돌아 다닐 수 있으며, 각종 체험활동을 통해 다양한 경험을 제공한다.
							온실 식물원 에는 285종의 온실식물이 전시되어있어 다양한 볼거리를 제공하며, 동물원에서는 4월 ~ 10월의 기간동안 하루에 한번 사육사가 동물에게 먹이를 제공하는 것을 볼 수 있다.
							어린아이들과 함께 놀고, 돌아다니는곳을 찾는 사람들에게 추천.
						</div>
						<div>
							◾ 코스경로 : 어린이대공원역 1번 출구- 어린이대공원역ㆍ서울 상상나라 구간 - 서울상상나라ㆍ서울어린이대공원 구간- 서울식물원 구간- 동물원 구간- 아차산역 4번  출구
						</div>
						<div>
							◾ 길이 : 4km 
						</div>
						<div>
							◾ 소요시간 : 2시간
						</div>
						<div>
							◾ 난이도 : 초급
						</div>
						
							<div class="swiper-container">
								<div class="swiper-wrapper">

									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원2.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원3.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원4.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원5.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원6.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원7.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원9.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원8.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/어린이대공원10.jpg}" /></div>
								</div>
								<!-- 네비게이션 -->
								<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
								<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
							
					</div>
				</div><hr><br>
				
				<div class="rcm-boxalign">
				<div class="rcm-content02">
					<div class="rcm-textTitle">
						예술의 전당
					</div>
				</div><br>
					<div class="rcm-content03">
						<div class="SceneryImg">
							<img th:src="@{/img/rcmcourse/rcmFamily/예술의전당1.jpg}" />
						</div>
						<div>
							1988년 음악당과 서울서예박물관, 1990년 한가람미술관과 예술자료관, 1993년 오페라하우스 완공으로 완성된 서울 예술의전당은
							연간 300만명의 방문객이 찾는 우리나라 문화예술의 중심이다. 남부터미널역 인근에 위치한 예술의 전당은 전시회, 음악공연,
							 오페라등 다양한 문화활동을 제공하고있다. 현재는 이집트 미라전, 넥스테이지:넥슨게임 아트, 알버트 왓슨 사진전 등등 다양한 사진 문화 공연을 
							 진행중이고, 다양한 연극과 오페라도 상영하고있어 자녀들과 함께 문화 체험을 하고싶은 사람에게 추천.
						</div>
						<div>
							◾ 코스경로 : 남부터미널역 5번 출구-예술의 전당-국립국악원-남부터미널역 5번 출구
						</div>
						<div>
							◾ 길이 : 3km 
						</div>
						<div>
							◾ 소요시간 : 1시간 30분
						</div> 
						<div>
							◾ 난이도 : 초급
						</div>
						
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당2.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당3.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당4.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당5.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당6.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당10.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당8.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당9.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/예술의전당7.jpg}" /></div>
								</div>
								<!-- 네비게이션 -->
								<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
								<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						
					</div>
				</div><hr><br>
				
				
				<div class="rcm-boxalign">
				<div class="rcm-content02">
					<div class="rcm-textTitle">
						양재시민의 숲
					</div>
				</div><br>
					<div class="rcm-content03">
						<div class="SceneryImg">
							<img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲1.jpg}" />
						</div>
						<div>
							1986년 11월에 개장한 양재시민의숲은 2022년 윤봉길 의사의 아호인 매헌을 본따서 매헌시민의숲으로 이름을 변경하였다.
							매헌시민의숲안에는 윤봉길 의사의 유물과 독립운동 관련 사진을 전시해놓은 윤봉길의사기념관과 높이 9.2m의 윤봉길 의사상, 2.14m의 윤봉길 의사 숭모비가 있다.
							또 6.25전쟁당시 비정규군 전투부대로 참전하여 희생된 이들을 위로하고자 세운 충혼탑, 1987년 북한의 테로로 폭파된 대한항공858기의 희상자 위령탑과 1995년 삼풍백화점 붕괴로 사망한 502명의 영혼과 유족들을 위로하기위한 삼풍사고희생자 위령탑이있다.
							이처럼 아픈 역사와 비극 사건들을 한번더 되새길수 있는 매헌시민의숲은 신분당선 양재시민의숲역 바로 옆에 있어 교통이 편리하고, 
							봄 가을에는 벚꽃과 단풍으로 유명하다. 매헌시민의숲은 주로 평지로 이루어져있어 아이들과 함께 걷기 좋고, 한적하면서도 조용하기에 
							바쁜 도심안에서 여유를 얻을수 있는공간이다.
							주말에 아이와 함께 산책을 하려는 사람에게 추천. 
						</div>
						<div>
							◾ 코스경로 : 양재시민의숲역 5번 출구-매헌시민의숲-양재천-양재시민의숲역 1번 출구
						</div>
						<div>
							◾ 길이 : 2km 
						</div>
						<div>
							◾ 소요시간 : 1시간
						</div> 
						<div>
							◾ 난이도 : 초급
						</div>
						
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲2.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲6.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲8.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲7.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲3.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲4.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲5.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲9.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/양재시민의숲10.jpg}" /></div>
								</div>
								<!-- 네비게이션 -->
								<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
								<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						
					</div>
				</div><hr><br>
				
				
				
				<div class="rcm-boxalign">
				<div class="rcm-content02">
					<div class="rcm-textTitle">
						선유도공원
					</div>
				</div><br>
					<div class="rcm-content03">
						<div class="SceneryImg">
							<img th:src="@{/img/rcmcourse/rcmFamily/선유도1.jpg}" />
						</div>
						<div>
							1978년부터 2000년까지 서울 남부지역에 수돗물을 공급하는 정수장으로 사용되다가 2000년 12월 폐쇄된뒤 2002년 개장한 시민공원이다.
							한강역사관, 수질정화공원, 시간의정원, 온실, 물놀이장등의 시설이 들어서 있어 아이들과 함께 놀러오기 좋으며, 
							사계절 변화하는 한강을 관찰하기 좋은 지역이다.
							서울둘레길 6코스와 매우 가깝고, 합정역과 당산역이 가까워 교통편의시설도 좋다.
							아이와 한강을 구경하고싶은 사람에게 추천.
						</div>
						<div>
							◾ 코스경로 : 선유도역 2번 출구-선유도-선유도역 2번 출구
						</div>
						<div>
							◾ 길이 : 1.5km 
						</div>
						<div>
							◾ 소요시간 : 1시간
						</div> 
						<div>
							◾ 난이도 : 초급
						</div>
						
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도2.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도6.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도8.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도7.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도3.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도4.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도5.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도9.jpg}" /></div>
									<div class="swiper-slide"><img th:src="@{/img/rcmcourse/rcmFamily/선유도10.jpg}" /></div>
								</div>
								<!-- 네비게이션 -->
								<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
								<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						
					</div>
				</div><hr><br>
				
				
			
				
			
			</div>
		</div>
	</div>
	

	
<script>
new Swiper('.swiper-container', {

	slidesPerView : 3, // 동시에 보여줄 슬라이드 갯수
	spaceBetween : 30, // 슬라이드간 간격
	slidesPerGroup : 3, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

	// 그룹수가 맞지 않을 경우 빈칸으로 메우기
	// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
	loopFillGroupWithBlank : true,

	loop : true, // 무한 반복

	pagination : { // 페이징
		el : '.swiper-pagination',
		clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
	},
	navigation : { // 네비게이션
		nextEl : '.swiper-button-next', // 다음 버튼 클래스명
		prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
	},
});
</script>
</div>
</html>